<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Training Data</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div class="header">
        <h1>Upload Training Data</h1>
    </div>
    <div class="container">
        <div>
            <label for="file">Download Template Excel</label>
            <a href="/download_template" class="button button-secondary">Download Template</a>
        </div>
        <form id="uploadForm" action="/upload_file_klasifikasi1" method="post" enctype="multipart/form-data">
            <label for="file">Upload Training Data</label>
            <input type="file" id="file" name="file">
            <br><br>
            <div class="container-button">
                <button type="submit" class="button">Start Data Training</button>
                <a href="/klasifikasi1" class="button button-back">kembali</a>
            </div>
        </form>
    </div>
</body>
</html>
